<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>600295442046-nja69k6q0dsj633avl26rvrnqv058dae.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.600295442046-nja69k6q0dsj633avl26rvrnqv058dae</string>
	<key>API_KEY</key>
	<string>AIzaSyBcmd6WtWEQQbs3ryddb0mnIqzZ8aVtv18</string>
	<key>GCM_SENDER_ID</key>
	<string>600295442046</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.testDelta</string>
	<key>PROJECT_ID</key>
	<string>test-delta-90b5c</string>
	<key>STORAGE_BUCKET</key>
	<string>test-delta-90b5c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:600295442046:ios:7c9a0b8bc6286f3d5cba2f</string>
</dict>
</plist>